.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
//   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
// }

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  // color: yellow;
  transition: transform 50ms cubic-bezier(0, 0, 6.2, 1);
}

// avoid the element rearranging transformation
.cdk-drag {
  transform: none !important;
}
/* Animate an item that has been dropped. */
.cdk-drag-animating {
  color: red;
  transition: transform 300ms cubic-bezier(0.19, 1, 0.22, 1);
}

.cdk-drop-list-disabled {
  color: blue;
}

// .cdk-drag-placeholder {
//   background-color: blue;
//   opacity: 0.2;
// }

// avoid the placeholder completetly while dragging
.cdk-drag-placeholder {
  display: block !important;
  line-height: 0 !important;
  height: 0 !important;
  overflow: hidden !important;
  padding: 0px !important;
  margin: 0px !important;
}

// .example-custom-placeholder {
//   // background: #ccc;
//   border: dotted 3px #999;
//   min-height: 60px;
//   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
// }

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
//   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
// }

.cdk-drag-preview-wrapper {
  width: 262px;
  background-color: #eee;
  -ms-transform: rotate(10deg); /* IE 9 */
  -webkit-transform: rotate(10deg); /* Safari */
  transform: rotate(10deg); /* Standard syntax */
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.denyDrop {
  background-color: rgb(250, 217, 217) !important;
}

.allowedDrop {
  background-color: rgb(191, 236, 191) !important;
}
.hide {
  opacity: 0.5;
}
i:hover {
  cursor: pointer;
}

textarea:focus {
  outline: none;
}

nav {
  background-color: rgba(0, 0, 0, 0.08);
  padding: 5px;
  position: fixed;
  width: 100%;
}

.is-home i {
  background: #c59b8ec4;
  padding: 3px;
  border-radius: 3px;
  margin: 3px;
  color: white;
}

/* Nav with project details */

.project-nav {
  display: flex;
  justify-content: space-between;
  height: 40px;
  position: fixed;
  color: white;
  top: 50px;
  width: 100%;
  padding: 10px 18px;
}

.project-nav h2 {
  font-size: 1.1rem;
  font-weight: 600;
}

.project-nav i {
  font-size: 18px;
}

/* Board design */

.board-section {
  display: flex;
  margin: 5px;
  position: absolute;
  top: 5.5rem;
}

.neo-board {
  width: 280px;
  background-color: #dfe1e6;
  padding: 5px 9px 8px;
  border-radius: 3px;
  margin: 3px;
  height: 100%;
  position: relative;
  overflow-y: auto;
}

.neo-board .board-header {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.neo-board .board-header input {
  font-weight: 600;
  width: calc(100% - 25px);
  /* border-radius: 3px; */
  border: 1px solid #dfe1e6;
  background-color: #dfe1e6;
  padding: 1px 5px;
}

.neo-board .board-header input:focus {
  background-color: white;
}

.neo-board .board-header input:hover {
  cursor: pointer;
}

.neo-board i {
  font-size: 18px;
  color: #0000006e;
}

.neo-board .is-add-card {
  display: flex;
  padding: 6px 4px 6px;
}

.neo-board .is-add-card:hover {
  background: #c2c5cadb;
  cursor: pointer;
}

.neo-board span {
  color: #0000006e;
  font-size: 14px;
  font-weight: 500;
}

.task-card {
  background-color: white;
  border-radius: 4px;
  padding: 6px 8px;
  font-size: 14px;
  color: #000000c4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09);
  transition: 0.3s;
  margin-bottom: 5px;
  margin-top: 5px;
}

.neo-board .task-card textarea {
  width: 100%;
  border: none;
  resize: none;
}
