<nav>
  <span class="is-home">
    <i class="material-icons">
      home
    </i>
  </span>
</nav>

<div>
  <div class="project-nav">
    <div>
      <h2>Project name</h2>
    </div>
    <div>
      <i class="material-icons">
        more_horiz
      </i>
    </div>
    <!-- Here goes the prooject tiles and its detials -->
  </div>
  <div cdkDropListGroup class="board-section">
    <!-- Board 1 -->
    <!-- <div class="board"> -->
    <div
      class="neo-board"
      *ngFor="let board of boards"
      id="{{ board.name }}"
      cdkDropList
      [cdkDropListData]="board.items"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListEnterPredicate]="noReturnPredicate.bind(this)"
      (cdkDropDropped)="dropped($event)"
      (cdkDropEntered)="entered($event)"
      (cdkDropExited)="exited($event)"
      (cdkDropListEntered)="entered($event)"
      [ngClass]="{
        allowedDrop: isBoardAllowed(board.name),
        hide: xboard(board.name)
      }"
    >
      <div class="board-header">
        <input type="text" value="{{ board.name }}" />
        <i class="material-icons">
          more_horiz
        </i>
      </div>

      <!-- Adding card -->
      <div>
        <div
          class="task-card"
          *ngFor="let item of board.items"
          [cdkDragData]="item"
          cdkDrag
          (cdkDragStarted)="dragStarted($event)"
        >
          <span> new task {{ item }} </span>
          <div *cdkDragPreview>
            <div
              [ngClass]="{
                allowedDrop: dragStyle == 'allow',
                denyDrop: dragStyle == 'deny'
              }"
              class=" cdk-drag-preview-wrapper task-card  "
            >
              <span> new task {{ item }} </span>
            </div>
          </div>
        </div>
      </div>
      <div class="is-add-card">
        <i class="material-icons">
          add
        </i>
        <span>Add card</span>
      </div>
    </div>
  </div>
</div>
